.container {
    width: 600px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    margin-top: 5rem;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    padding: 3rem 5rem;
    border-radius: 10px;
  }
  
  .counter {
    font-size: 8rem;
    margin-bottom: 1rem;
    color: white;
  }
  
  .buttons button {
    padding: 0.8rem 2rem;
    border: none;
    margin-left: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: all 300ms ease-in-out;
    transform: translateY(0);
  }
  
  .buttons button:hover {
    transform: translateY(-2px);
  }
  
  
  .start {
    background: #3ed927;
    color: white;
  }
  
  .downCount {
    background: #e4e446;
  }
  
  .reset {
    background: #3b6bee;
    color: white;
  }